{% extends "base.html" %}

{% block body_contents %}
<img src={{image}}> 
<a href="https://cgi.cse.unsw.edu.au/~z5099187/ass2/UNSWtalk.cgi/search">
<h4>Search Friend</h4>
</a>

<a href="https://cgi.cse.unsw.edu.au/~z5099187/ass2/UNSWtalk.cgi/searchpost">
<h4>Search Posts</h4>
</a>

<form method="POST" action="logout">

<input type="submit" value="Logout" >

</form>


<div class="unswtalk_user_details">

<h3>Profile</h3>
Name:{{name}}
ZID:{{zid}}
Birthday:{{birthday}}
Program:{{program}}

</div>

<p><h2>Post:</h2>
{% for time in times %}
	<div class="post_details">
	{{post[time]|safe}}
	</div>

{% endfor %}


<div class="title"><h3>Friends List:</h3></div>
{% for zid in friends %}
<div class="right_list">
	<a href="https://cgi.cse.unsw.edu.au/~z5099187/ass2/UNSWtalk.cgi/user/{{zid}}">
	<div class="friends_pic"><img src={{friends[zid]['pic']}} width:150px height:150px></div>
	<div class="friends_name"><h4>{{friends[zid]['name']}}</h4></div></a>
</div>
{% endfor %}

	
{% endblock %}
